ga-med/workflows/Error Workflow.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Audit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Data": {
      "main": [
        [
          {
            "node": "Update Notification Audit ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-08T09:29:35.410Z",
  "id": "7",
  "name": "Error Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -40,
        160
      ]
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        160,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/notificationcases/saveaudit",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json[\"data\"])}}"
      },
      "name": "Update Notification Audit ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        620,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var data={};\ndata.execution_id=items[0].json.execution.id;\ndata.execution_error=JSON.stringify(items[0].json.execution.error);\nlet error = items[0].json.execution.error.description;\ndata.status=\"INFRA ERROR\";\nif(error.match('Event does not exist')){\n  data.status=\"INVALID FILE\";\n}\nconsole.log(\"items \",items[0].json.execution.id);\nreturn [{json:{data}}];"
      },
      "name": "Audit Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        160
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-02-09T10:27:19.073Z"
}