ga-med/workflows/FormNotificationTrigger.json
{
  "active": true,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Forms Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forms Trigger": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Auth Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Login": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-23T12:37:59.681Z",
  "id": "2",
  "name": "FormNotificationTrigger",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -80,
        300
      ]
    },
    {
      "parameters": {
        "form": 32
      },
      "name": "Forms Trigger",
      "type": "n8n-nodes-base.cardinalityCustomFormsTrigger",
      "typeVersion": 1,
      "position": [
        80,
        300
      ],
      "webhookId": "f7317919-0b4b-4e86-948f-8ae6990187ed"
    },
    {
      "parameters": {
        "functionCode": "console.log(\"status\",$json['formData']['status'])\nconst formData={};\nformData.data = $json['formData'];\nformData.eventName = $json['formData']['status'];\nitems[0].json = formData;\nconsole.log(\"form\",items)\nreturn items;\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        340,
        120
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/notification/trigger",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($node[\"Function\"].json)}}"
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        740,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/org/auth/login",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"email\":\"vimalathithan@cardinality.ai\",\"password\":\"Password@123\",\"secret\":\"\"}"
      },
      "name": "Auth Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        540,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Forms Trigger\"].json[\"formData\"][\"status\"]}}",
              "value2": "RENEWAL"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    }
  ],
  "settings": {},
  "staticData": {
    "node:Forms Trigger": {
      "webhookId": "arn:aws:sns:us-east-1:561974966037:medicaid-cm-forms:0f3fa492-32f1-4cdf-b4f5-d0cecc83151f"
    }
  },
  "tags": [],
  "updatedAt": "2023-01-24T09:22:51.000Z"
}