ga-med/workflows/generatePDF.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Data to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchTemplate": {
      "main": [
        [
          {
            "node": "Generate Buffer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3": {
      "main": [
        [
          {
            "node": "Status Update Based On Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "AWS S31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S31": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Data": {
      "main": [
        [
          {
            "node": "Save Audit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audit Data": {
      "main": [
        [
          {
            "node": "fetchTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data to Process": {
      "main": [
        [
          {
            "node": "Audit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Buffer Data": {
      "main": [
        [
          {
            "node": "Data to Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data to Upload": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Update Based On Upload": {
      "main": [
        [
          {
            "node": "Update Audit Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-01T17:34:12.319Z",
  "id": "5",
  "name": "generatePDF",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -1040,
        -100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generatepdf",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -860,
        -100
      ],
      "webhookId": "45aaab99-91fb-4561-a07e-17361a1ca825"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "ga-medredtrmn-dev",
        "fileName": "={{$node[\"Webhook\"].json[\"body\"][\"filename\"]}}",
        "binaryPropertyName": "bin",
        "additionalFields": {}
      },
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        -360,
        100
      ],
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "4",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/notificationcases/emailtemplate",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({data:[$node[\"Get Data to Process\"].json[\"data\"]]})}}"
      },
      "name": "fetchTemplate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1040,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "ga-medredtrmn-dev",
        "fileKey": "={{$node[\"Webhook\"].json[\"body\"][\"filename\"]}}"
      },
      "name": "AWS S31",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        -600,
        340
      ],
      "credentials": {
        "aws": {
          "id": "4",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "={{$node[\"Webhook\"].json[\"body\"][\"filename\"]}}"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        0,
        340
      ]
    },
    {
      "parameters": {
        "fileName": "={{$node[\"Webhook\"].json[\"body\"][\"filename\"]}}"
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        -300,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/notificationcases/saveaudit",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "name": "Save Audit Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -40,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "items[0].json.status=\"IN PROGRESS\";\nitems[0].json.event_id=\"1\";\nitems[0].json.execution_id=$executionId;\nconsole.log(\"execution_id \",$executionId);\nreturn items"
      },
      "name": "Audit Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -360,
        -100
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/notificationcases/saveaudit",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "name": "Update Audit Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        180,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json:{data:items[0].json.body}}]"
      },
      "name": "Get Data to Process",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -640,
        -100
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/pdf/generate",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify(JSON.stringify($node[\"fetchTemplate\"].json[\"data\"][0]))}}"
      },
      "name": "Generate Buffer Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -800,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json: {}, binary: {bin: {data: items[0].json.data}}}];"
      },
      "name": "Data to Upload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -580,
        100
      ],
      "retryOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "functionCode": "var id= $node[\"Save Audit Data\"].json.data[0].id\nconsole.log(\"id \",id);\nvar status;\nif($node[\"AWS S3\"].json[\"success\"] == true){\nstatus=\"SUCCESS\";\n}else{\nstatus=\"IN PROGRESS\";\n}\nconst content = {\n  output_url:\"https://s3.us-east-1.amazonaws.com\"+\"/ga-medredtrmn-dev/\"+$node[\"Webhook\"].json[\"body\"][\"filename\"],\n  input_location:$node[\"Webhook\"].json.body.input_location\n}\nreturn[{\njson:{\n\"id\":id,\n\"status\":status,\n\"content\":JSON.stringify(content)\n}\n}]"
      },
      "name": "Status Update Based On Upload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -100,
        100
      ]
    }
  ],
  "settings": {
    "errorWorkflow": "7",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-02-14T11:27:04.392Z"
}