ga-med/workflows/MD_Ticketing_Webhook Dev.json
{
  "active": false,
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Jira Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Create": {
      "main": [
        [
          {
            "node": "Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Jira update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-02T08:42:25.416Z",
  "id": "13",
  "name": "MD_Ticketing_Webhook Dev",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -2560,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT i.*,u.jira_user_id,i.jira_url FROM incidentreport i\nLEFT JOIN muser u ON u.securityusersid = i.assignedto \nWHERE i.incidentreportid  = '{{$json[\"query\"][\"id\"]}}'\nAND i.activeflag = 1;",
        "additionalFields": {}
      },
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -2040,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "9",
          "name": "Postgres Dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Postgres\"].json[\"jira_id\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1860,
        620
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE incidentreport SET jira_id = '{{$node[\"Jira Create\"].json[\"id\"]}}', jira_key = '{{$node[\"Jira Create\"].json[\"key\"]}}' , jira_url = '{{$json[\"fields\"][\"status\"][\"iconUrl\"]}}browse/{{$json[\"key\"]}}' WHERE incidentreportid= '{{$node[\"Postgres\"].json[\"incidentreportid\"]}}';\n\nINSERT INTO mdcrm.incident_activity\n(activity_action, activity_comments, incidentreportid, jira_key, assignedto, assignedby, insertedby, insertedon)\nvalues('JIRA Ticket', 'Created JIRA {{$json[\"key\"]}}' , '{{$node[\"Postgres\"].json[\"incidentreportid\"]}}', '{{$json[\"key\"]}}', '{{$json[\"fields\"][\"assignee\"][\"displayName\"]}}', '{{$json[\"fields\"][\"reporter\"][\"displayName\"]}}', 'JIRA Board',now() AT TIME ZONE 'america/new_york');",
        "additionalFields": {}
      },
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -1180,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "9",
          "name": "Postgres Dev"
        }
      }
    },
    {
      "parameters": {
        "project": "10000",
        "issueType": "10001",
        "summary": "={{$node[\"Postgres\"].json[\"short_desc\"]}}",
        "additionalFields": {
          "assignee": "={{$json[\"jira_user_id\"]?$json[\"jira_user_id\"]:'63b2ebc3159df2c252e8313f'}}",
          "description": "={{$node[\"Postgres\"].json[\"long_desc\"]}}"
        }
      },
      "name": "Jira Create",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1640,
        600
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "2",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{$node[\"Postgres\"].json[\"jira_key\"]}}",
        "updateFields": {
          "statusId": "31"
        }
      },
      "name": "Jira update",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1640,
        800
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "2",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Postgres\"].json[\"status\"]}}",
              "value2": "Resolve"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1880,
        860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{$node[\"Postgres\"].json[\"jira_key\"]}}",
        "updateFields": {
          "statusId": "21"
        }
      },
      "name": "Jira update1",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1640,
        980
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "2",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{$json[\"key\"]}}",
        "additionalFields": {}
      },
      "name": "Jira",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -1420,
        600
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "2",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://md-ticketing.atlassian.net/rest/api/3/issue/{{$json[\"id\"]}}/remotelink",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"object\": {\n        \"icon\": {\n            \"url16x16\": \"https://md-ticketing.cardinalityai.xyz/favicon.ico\"\n        },\n        \"title\": \"{{$node[\"Postgres\"].json[\"ticket_no\"]}}\",\n        \"url\": \"https://md-ticketing.cardinalityai.xyz/#/user-redirect?ticket_number={{$node[\"Postgres\"].json[\"ticket_no\"]}}\"\n    }\n}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1180,
        420
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "4",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "path": "jira-integration-dev",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2220,
        620
      ],
      "webhookId": "8443d97f-fcb4-4dec-8237-10e10fb4fb02"
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-02-02T10:33:03.588Z"
}