ga-med/workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          },
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3": {
      "main": [
        [
          {
            "node": "FilesToAttach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "AttachmentData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AttachmentData": {
      "main": [
        [
          {
            "node": "AWS S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilesToAttach": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-25T10:08:42.338Z",
  "id": "3",
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        80,
        320
      ]
    },
    {
      "parameters": {
        "bucketName": "ga-medredtrmn-dev",
        "fileKey": "={{$json[\"data\"]}}"
      },
      "name": "AWS S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        420,
        140
      ],
      "credentials": {
        "aws": {
          "id": "4",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [\n{json:{\n\t\"sms\":{\n\t\t\"fromNumber\": \"+919047470871\",\n\t\t\"toNumber\": \"+919500160871\",\n\t\t\"smsText\": \"This is test msg\"\n\t},\n\t\"email\":{\n\t\t\"toMail\": \"ayyappan@cardinality.ai\",\n\t\t\"subject\": \"Test Email\",\n\t\t\"text\": \"This Is Test Mail\",\n \t\"attachment\":[\"https://ga-medredtrmn-dev.s3.amazonaws.com/FORM_RESPONSE_ATTACHMENTS/59/2/images.jpg\",\"https://ga-medredtrmn-dev.s3.amazonaws.com/FORM_RESPONSE_ATTACHMENTS/59/1/US_Passport_Card_2.png\",\"https://ga-medredtrmn-dev.s3.amazonaws.com/FORM_RESPONSE_ATTACHMENTS/59/2/WhatsApp%2520Image%25202022-12-05%2520at%252018.39.03.jpeg\"]\n\t}\n}}\n]"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        40,
        140
      ]
    },
    {
      "parameters": {
        "fromEmail": "admin",
        "toEmail": "ayyappan@cardinality.ai",
        "subject": "ATTACH",
        "text": "test",
        "attachments": "={{$json[\"binaryProperties\"]}}",
        "options": {}
      },
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        780,
        140
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var attachment = $node[\"Function\"].json[\"email\"][\"attachment\"];\n\nreturn attachment.map(item => {\n  return {\n    json: {\n      data:item.replace('https://ga-medredtrmn-dev.s3.amazonaws.com/','')\n    },\n  }\n});\n"
      },
      "name": "AttachmentData",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        220,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "const binaryProperties = {};\nfor (let i=0;i<items.length;i++) {\n  let item = items[i];\n  binaryProperties[`data${i}`] = item.binary.data;\n}\n\nreturn [\n  {\n    json: {\n      binaryProperties: Object.keys(binaryProperties).join(','),\n    },\n    binary: binaryProperties,\n  }\n]\n\n"
      },
      "name": "FilesToAttach",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        600,
        140
      ]
    },
    {
      "parameters": {
        "path": "/dropzone/notificationcases.csv"
      },
      "name": "FTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        300,
        320
      ],
      "credentials": {
        "ftp": {
          "id": "6",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "fileName": "/notification"
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "filePath": "/notification"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        720,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        640,
        500
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-02-07T08:16:09.157Z"
}