ga-med/workflows/My workflow 5.json
{
  "active": false,
  "connections": {
    "Trigger Generate PDF1": {
      "main": [
        [
          {
            "node": "Get File Path To Move1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduler1": {
      "main": [
        [
          {
            "node": "Configure Event Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Auth Token": {
      "main": [
        [
          {
            "node": "Get Notification eventpath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notification eventpath": {
      "main": [
        [
          {
            "node": "Resource Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resource Config": {
      "main": [
        [
          {
            "node": "Get List of Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List of Files": {
      "main": [
        [
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Event Process": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event Process Data": {
      "main": [
        [
          {
            "node": "Save Event Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "Get Event Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Download": {
      "main": [
        [
          {
            "node": "Fetch Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Notification Data": {
      "main": [
        [
          {
            "node": "Process Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event Process": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Event Name": {
      "main": [
        [
          {
            "node": "Fetch Auth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Items": {
      "main": [
        [
          {
            "node": "Save Event Process Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Event Process Item": {
      "main": [
        [
          {
            "node": "Address Matching Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Address Matching Request": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "File Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function2": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Write File Name & Event Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Event Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File Name & Event Name": {
      "main": [
        [
          {
            "node": "Trigger Generate PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-10T09:19:18.590Z",
  "id": "27",
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -2940,
        -320
      ]
    },
    {
      "parameters": {
        "functionCode": "var processedFileName=$node[\"Get File Path\"];\nconsole.log('path ',($items(\"Get File Path\")));\nreturn $items(\"Get File Path\");"
      },
      "name": "Get File Path To Move1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -780,
        400
      ]
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "={{$node[\"Get Notification eventpath\"].json[\"data\"][0][\"path\"]}}{{$json[\"name\"]}}",
        "newPath": "={{$node[\"Get Notification eventpath\"].json[\"data\"][0][\"path\"]}}processed/{{$json[\"name\"]}}"
      },
      "name": "Move Processed File1",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -560,
        400
      ],
      "credentials": {
        "sftp": {
          "id": "9",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ga-medredtrmn-n8n-dev.cardinality.info/webhook-test/generatepdf",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "name": "Trigger Generate PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1000,
        400
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "name": "Scheduler1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2400,
        -100
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ga-medredtrmn-n8n-dev.cardinality.info/webhook-test/trigger/compresspdf",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n\"event_name\": \"{{$node[\"Configure Event Name\"].json[\"eventname\"]}}\",\n\"id\":\"{{$node[\"Save Event Process\"].json[\"data\"][\"id\"]}}\"\n}"
      },
      "name": "HTTP Request11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -680,
        620
      ]
    },
    {
      "parameters": {
        "functionCode": "if (Object.keys(items[0].json).length === 0) {\n  return [\n     {\n       json: {\n         results: 0,\n       }\n      }\n  ]\n}\nreturn [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];\n"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1000,
        620
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/address/matching",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($node[\"Address Matching Request\"].json)}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -540,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/org/auth/login",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"email\":\"vimalathithan@cardinality.ai\",\"password\":\"Password@123\",\"secret\":\"\"}"
      },
      "name": "Fetch Auth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1900,
        -100
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api-ga-medredtrmn-dev.cardinality.info/api/notification/eventpath?eventname={{$node[\"Configure Event Name\"].json[\"eventname\"]}}",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Get Notification eventpath",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1660,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/emailtemplate/resources/getCredentialsByName/FTP SERVER",
        "options": {}
      },
      "name": "Resource Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1420,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "={{$node[\"Get Notification eventpath\"].json[\"data\"][0][\"path\"]}}"
      },
      "name": "Get List of Files",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -1180,
        -100
      ],
      "credentials": {
        "sftp": {
          "id": "9",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/emailtemplate/event-process",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "name": "Save Event Process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1900,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var data={};\nconst currentDate = new Date();\nitems.map(item=>{\nconsole.log(item.json);\n  data = {\n  filename : $node[\"Get File Path\"].json.name,\n  process_begin : currentDate ,\n  process_end : null,\n  event_id : 1,\n  status: \"IN PROGRESS\"\n  }\n  \n})\nreturn [{\"json\": data}]\n"
      },
      "name": "Get Event Process Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2120,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "const filteredFiles = [];\n\nfor (const file of items) {\n  if (file.json.name.endsWith('.xlsx')) {\n    filteredFiles.push(file);\n  }\n}\n\nreturn filteredFiles;\n"
      },
      "name": "Get File Path",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2360,
        140
      ]
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "={{$node[\"Get File Path\"].json[\"path\"]}}"
      },
      "name": "File Download",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -1640,
        140
      ],
      "credentials": {
        "sftp": {
          "id": "9",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Fetch Notification Data",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -1380,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "=https://api-ga-medredtrmn-dev.cardinality.info/api/emailtemplate/event-process/{{$node[\"Update Event Process\"].json[\"id\"]}}",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($node[\"Update Event Process\"].json)}}"
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -820,
        -320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var data={};\nconst currentDate = new Date();\nconst totalRecordsCount = items.length;\nitems.map(item=>{\nconsole.log(item.json);\n  data = {\n  filename : $node[\"Get File Path\"].json.name,\n  process_begin : currentDate ,\n  process_end : null,\n  event_id : 1,\n  status: \"IN PROGRESS\",\n  record_count:totalRecordsCount,\n  id:$node[\"Save Event Process\"].json?.data?.id\n  }\n  \n})\nreturn [{\"json\": data}]\n"
      },
      "name": "Update Event Process",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1040,
        -320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "eventname",
              "value": "Renewal Template New"
            }
          ]
        },
        "options": {}
      },
      "name": "Configure Event Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2140,
        -100
      ]
    },
    {
      "parameters": {
        "functionCode": "let payload={};\nitems.map(item=>{\n  item.json.data[0].status=\"IN PROGRESS\";\n  item.json.data[0].eventid=\"1\";\n  item.json.data[0].externalid= items[0].json.data.Case_id;\n  item.json.data[0].executionid=$executionId;\n  item.json.data[0].channel= \"PRINT\";\n  //item.json.data[0].payload= items[0].json.data;\n  item.json.data[0].eventprocessid= items[0].json.data.event_process_id;\n})\n\nreturn items\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1280,
        620
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/emailtemplate/event-process/item",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($node[\"Process Items\"].json)}}"
      },
      "name": "Save Event Process Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -920,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -2140,
        -340
      ]
    },
    {
      "parameters": {
        "functionCode": "//console.log('item', items)\nvar data= [];\nitems.map(item=>{\nvar itemdata = {\nstatus: \"IN PROGRESS\",\neventid: \"1\",\nexternalid:  item.json.Client_id,\nexecutionid: $executionId,\nchannel: \"PRINT\",\npayload: item.json,\neventprocessid: $node[\"Save Event Process\"].json.data.id\n}\ndata.push(itemdata);\n})\n\nreturn data.map(item => {\n    return {\"json\": item};\n});\n\n"
      },
      "name": "Process Items",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1140,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "var data =[];\nconsole.log(\"item id\",+$node[\"Save Event Process Item\"]);\nconst record_count = items.length;\nitems.map(item=>{\n console.log('item33', item.json)\n  var eachdata = {\n  \"member_id\": item.json.data.externalid,\n  \"zip\": item.json.data.payload.Zip,\n  \"zip_ext\": item.json.data.payload.Zip,\n  \"address_1\": item.json.data.payload.Client_Address_1,\n  \"address_2\": item.json.data.payload.Client_Address_2,\n  \"event_process_item_id\":item.json.data.id,\n  \"event_process_id\": $node[\"Save Event Process\"].json.data.id,\n  \"payload\" : item.json.data.payload\n  }\n  data.push(eachdata );\n})\nreturn data.map(item=>{\nreturn {\"json\": item};\n})\n"
      },
      "name": "Address Matching Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -720,
        140
      ]
    },
    {
      "parameters": {
        "functionCode": "\nvar data =[];\n\nconsole.log(\"itemsssss \",$node[\"Fetch Notification Data\"].json);\nconst record_count = items.length;\nitems.map(item=>{\nconsole.log('KEYS',item.json[Object.keys(item.json)[1]]);\n  //item.json.filename = item.json.Case_id+'_'+(new Date()).getTime()+'_'+new Date().toISOString().slice(0, 10).split('-').reverse().join('')+\".pdf\";\n  item.json.status = $node[\"Configure Event Name\"].json[\"eventname\"];\n  item.json.input_location= $node[\"Get Notification eventpath\"].json[\"data\"][0][\"path\"]+\"processed/\"+$node[\"Get File Path\"].json.name;\n  //item.json.file_name = $node[\"Get File Path\"].json.name; //$node[\"File Download\"].json.path;\n  item.json.event_process_id =  $node[\"Save Event Process\"].json?.data?.id;\n  item.json.record_count = record_count;\n  item.json.language= item.json.payload?.language;\n  item.json.Print= item.json.payload?.Print;\n})\nreturn items\n/*\nconst arrayOfArrays = items;\n\nconst mergedArray = [].concat(...arrayOfArrays).filter(array => array.length > 0);\n\nconsole.log(mergedArray);\n\nreturn mergedArray;*/"
      },
      "name": "Write File Name & Event Name",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1320,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "event_process_id",
              "value": "={{$node[\"Save Event Process\"].json[\"data\"][\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1960,
        520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM  ga_healthcvg.addr_member_match WHERE event_process_id = {{$json[\"event_process_id\"]}}",
        "additionalFields": {
          "queryParams": "="
        }
      },
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -180,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{json: {event_process_id : $node[\"Save Event Process\"].json.data.id}}]"
      },
      "name": "Function2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -360,
        140
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-03-13T04:45:28.709Z"
}