ga-med/workflows/Notification Scheduler Trigger From Files.json
{
  "active": false,
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Fetch Auth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Notification Data": {
      "main": [
        [
          {
            "node": "Write File Name & Event Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List of Files": {
      "main": [
        [
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Download": {
      "main": [
        [
          {
            "node": "Fetch Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "File Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path To Move": {
      "main": [
        [
          {
            "node": "Move Processed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File Name & Event Name": {
      "main": [
        [
          {
            "node": "trigger generatePDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger generatePDF": {
      "main": [
        [
          {
            "node": "Get File Path To Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Auth Token": {
      "main": [
        [
          {
            "node": "Get Notification eventpath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notification eventpath": {
      "main": [
        [
          {
            "node": "Get List of Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-07T08:14:23.391Z",
  "id": "6",
  "name": "Notification Scheduler Trigger From Files",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -700,
        -400
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -700,
        -220
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://ga-medredtrmn-n8n-dev.cardinality.info/webhook/generatepdf",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "name": "trigger generatePDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Fetch Notification Data",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "={{$json[\"data\"][0][\"path\"]}}"
      },
      "name": "Get List of Files",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -40,
        -220
      ],
      "credentials": {
        "ftp": {
          "id": "7",
          "name": "FTP account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "items = items.filter(item => item.json.type !== \"d\");\nreturn items;"
      },
      "name": "Get File Path",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        220,
        -220
      ]
    },
    {
      "parameters": {
        "path": "={{$node[\"Get File Path\"].json[\"path\"]}}"
      },
      "name": "File Download",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        700,
        -220
      ],
      "credentials": {
        "ftp": {
          "id": "7",
          "name": "FTP account 2"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "path",
              "value": "={{$json[\"name\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        -220
      ]
    },
    {
      "parameters": {
        "functionCode": "var processedFileName=$node[\"Get File Path\"];\nconsole.log('path ',($items(\"Get File Path\")));\nreturn $items(\"Get File Path\");"
      },
      "name": "Get File Path To Move",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        540,
        0
      ]
    },
    {
      "parameters": {
        "operation": "rename",
        "oldPath": "=/dropzone/{{$json[\"name\"]}}",
        "newPath": "=/dropzone/processed/{{$json[\"name\"]}}"
      },
      "name": "Move Processed File",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        780,
        0
      ],
      "credentials": {
        "ftp": {
          "id": "7",
          "name": "FTP account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var data =[];\n\nitems.map(item=>{\n  item.json.filename = item.json.Street+'_'+item.json.City+'_'+(new Date()).getTime()+\".pdf\";\n  item.json.status = $node[\"File Download\"].json.path.split('_').shift();\n  item.json.input_location= \"/dropzone/processed/\"+$node[\"File Download\"].json.path;\n  item.json.file_name = $node[\"File Download\"].json.path;\n})\nreturn items"
      },
      "name": "Write File Name & Event Name",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -20,
        0
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/org/auth/login",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"email\":\"vimalathithan@cardinality.ai\",\"password\":\"Password@123\",\"secret\":\"\"}"
      },
      "name": "Fetch Auth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -480,
        -220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api-ga-medredtrmn-dev.cardinality.info/api/notification/eventpath?eventname=RENEWAL",
        "jsonParameters": true,
        "options": {}
      },
      "name": "Get Notification eventpath",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -260,
        -220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-02-17T13:35:22.228Z"
}