ga-med/workflows/Notification.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Sms77",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-23T10:49:28.608Z",
  "id": "1",
  "name": "Notification",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -260,
        260
      ]
    },
    {
      "parameters": {
        "from": "={{$node[\"Webhook\"].json[\"body\"][\"sms\"][\"fromNumber\"]}}",
        "to": "={{$node[\"Webhook\"].json[\"body\"][\"sms\"][\"toNumber\"]}}",
        "message": "={{$node[\"Webhook\"].json[\"body\"][\"sms\"][\"smsText\"]}}",
        "options": {}
      },
      "name": "Sms77",
      "type": "n8n-nodes-base.sms77",
      "typeVersion": 1,
      "position": [
        300,
        260
      ],
      "credentials": {
        "sms77Api": {
          "id": "2",
          "name": "Sms77 account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "=ADMIN",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email\"][\"toMail\"]}}",
        "subject": "={{$node[\"Webhook\"].json[\"body\"][\"email\"][\"subject\"]}}",
        "text": "={{$node[\"Webhook\"].json[\"body\"][\"email\"][\"text\"]}}",
        "html": "={{$node[\"Webhook\"].json[\"body\"][\"email\"][\"htmlContent\"]}}",
        "attachments": "={{$node[\"Webhook\"].json[\"body\"][\"email\"][\"attachment\"]}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        300,
        60
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$json[\"body\"][\"sms\"]}}",
              "operation": "notEqual",
              "value2": "={{false}}"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notification/trigger",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        80
      ],
      "webhookId": "1e2cd969-5d8f-41e0-ad44-a73caa5de565"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{!!$json[\"body\"][\"email\"]}}",
              "operation": "notEqual",
              "value2": "={{false}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        80
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-01-23T12:37:14.925Z"
}